/* Specialization*/

body {
    background-color: #e8e8e8;
    font-family: 'Roboto slab', sans-serif;
}

img {
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* Concrete styles for pages */

h2.text-header {
    color: black;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
}

button {
    padding: 14px 32px;
    text-transform: uppercase;
    background: none;
    border: 1px solid white;
    color: inherit;
    margin-right: 10px;
    font-size: 14px;
}

h2.text-header::after {
    content: " ";
    margin-top: 15px;
    width: 85px;
    border-bottom: 3px solid #7a00aa;
    display: block;
}

.top-navbar {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 2;
    .banner {
        font-size: 29px;
        font-weight: 600;
        letter-spacing: 3px;
        padding: 3px 10px;
        margin: 15px 0;
        background-color: grey;
        display: inline-block;
        a {
            color: white;
        }
    }
    a {
        color: grey;
    }
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
        align-items: center;
        height: 100%;
        li {
            display: inline-block;
            margin-left: 15px;
            margin-right: 15px;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 0.01px;
        }
        li:last-child {
            margin-right: 0;
        }
    }
}

.present-layout {
    background: linear-gradient(rgba(19, 0, 35, 0.7), rgba(19, 0, 35, 0.7)), url("../img/background/header.jpg") no-repeat bottom center;
    background-size: cover;
    color: white;
    h1 {
        font-size: 60px;
        text-transform: uppercase;
        margin-top: 300px;
        line-height: 1.5em;
    }
    .buttons {
        margin-top: 50px;
        margin-bottom: 250px;
        .get-started {
            background-color: #8e00ff;
            border: 1px solid #8e00ff;
        }
    }
}

.about-us {
    .row {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .download-now {
        background-color: #8e00ff;
        color: white;
        margin-top: 20px;
    }
    p {
        font-size: 14px;
        color: rgb(63, 63, 63);
    }
    h4 {
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        margin: 0;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            display: block;
            margin-bottom: 15px;
            .li-header {
                border: 1px solid grey;
                width: 100%;
            }
            h4 {
                padding-left: 10px;
                font-size: 17px;
                width: calc(90% - 50px);
                padding-top: 15px;
                padding-bottom: 15px;
                margin: 0;
            }
            i {
                text-align: center;
                font-size: 20px;
                padding: 15px 0;
                border: 1px solid #570086;
                background-color: #570086;
                color: white;
                width: 48px;
            }
            p {
                border: 1px solid grey;
                border-top: none;
                line-height: 1.3em;
                padding: 25px 25px;
                margin-bottom: 0;
                font-size: 12px;
            }
        }
    }
}

/* media-queries */

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}

@media (max-width: 1199.98px) {}

/* Medium devices (tablets, 768px and up)*/

@media (max-width: 991.98px) {}

/* Small devices (landscape phones, 576px and up)*/

@media (max-width: 767.98px) {}

/* Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {}

/* Large devices (desktops, 992px and up)*/